---
layout: page
title: Projects
permalink: /projects/
---

<style>
.post-content ul {
  list-style-type: none;
  margin-left: 0;
}

.post-content li {
  border-bottom: 1px solid grey;
}
</style>

<ul>
  {% for project in page.projects %}
  <li>
    <a href="{{ project.html_url }}"> {{ project.name }} </a>
    <p>
      {% if project.description %}
      {{ project.description }}
      {% else %}
      (no description)
      {% endif %}
    </p>
  </li>
  {% endfor %}
</ul>
<p>Last refresh: {{ site.time }}</p>
